{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 0.5%",
        "uglify": true
      },
      "useBuiltIns": true
    }],
    "react"
  ],

  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", {"spec": true}]
  ]
}
