<section class="section features">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <div class="columns is-mobile">
          <div class="column is-2" style="margin-bottom: 1em">
            <div class="icon is-large has-text-info">
              <i class="fas fa-fw fa-2x fa-tachometer-alt"></i>
            </div>
          </div>

          <div class="column is-10" style="margin-bottom: 1em">
            <div class="content">
              <h2 class="subtitle">
                Signup takes 3 minutes
              </h2>

              <p>
                Deposit and withdraw up to 10 ETH without
                submitting identity documents.
              </p>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="column is-2" style="margin: 1em 0">
            <div class="icon is-large has-text-info">
              <i class="fas fa-fw fa-2x fa-globe"></i>
            </div>
          </div>

          <div class="column is-10" style="margin: 1em 0">
            <div class="content">
              <h2 class="subtitle">
                Open to everyone, anytime
              </h2>

              <p>
                Available to citizens of every country except the USA.
                Deposit and withdraw as often as you like.
              </p>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="column is-2" style="margin: 1em 0">
            <div class="icon is-large has-text-info">
              <i class="fas fa-fw fa-2x fa-money-check"></i>
            </div>
          </div>

          <div class="column is-10" style="margin: 1em 0">
            <div class="content">
              <h2 class="subtitle">
                Transparent fees
              </h2>

              <p>
                1% on deposit, 1% on withdrawal, and
                <span style="white-space: nowrap">0.1% per rebalancing</span>.
                No hidden fees.
              </p>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="column is-2" style="margin: 1em 0 0 0">
            <div class="icon is-large has-text-info">
              <i class="fas fa-fw fa-2x fa-lock"></i>
            </div>
          </div>

          <div class="column is-10" style="margin: 1em 0 0 0">
            <div class="content">
              <h2 class="subtitle">
                Committed to security
              </h2>

              <p>
                Industry best practices, manual review of all
                withdrawals, extensive employee auditing.
              </p>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="column is-2" style="margin: 1em 0">
            <div class="icon is-large has-text-info">
              <i class="fas fa-fw fa-2x fa-file-alt"></i>
            </div>
          </div>

          <div class="column is-10" style="margin: 1em 0">
            <div class="content">
              <h2 class="subtitle">
                Full transaction reporting
              </h2>

              <p>
                Need to file your taxes? An Excel spreadsheet of all
                trades carried out in your account is available.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-7" style="display: flex; justify-content: center; align-items: center;">
        <figure class="image is-3by2" style="width: 100%; filter: drop-shadow(0px 3px 5px #ddd);">
          <%= image_tag(
            asset_pack_path('images/features/holdings.png'), size: '600x400'
          ) %>
        </figure>
      </div>
    </div>
  </div>
</section>
