<p>Congratulations, your account is set up, and you're now ready to invest!</p>

<p>
  The next step in tracking your very own index of cryptocurrencies is to
  fund your account with an initial deposit.
</p>

<p>
  Follow this link to see
  <%= link_to 'your options for depositing', transactions_deposits_url %>.
</p>

<%= render 'emails/shared/footer' %>
