<p>We have successfully received your deposit of <%= @deposit.amount %> <%= @deposit.currency.symbol %>.</p>

<p>
 Our trading algorithms will now use these funds to assemble your
 portfolio of cryptocurrencies – we'll alert you as soon as it's ready.
</p>

<p>
 Stay tuned.
</p>

<%= render 'emails/shared/footer' %>
